@charset "UTF-8";

@media screen and (min-width: 792px) {
    #burguerMenu{
        display: none;
    }
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: var(--backgrond);
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);
}

a{
    color: var(--text-color);
}

#blur1, #blur2{
    position: fixed;
    height: 100vh;
    z-index: -1;
}

#blur1{
    left: 0;
    bottom: 0;
}

#blur2{
    right: 0;
    top: 0;
}

#blur-mobile{
    display: none;
}

#header-mobile{
    display: none;
}

#main-mobile{
    display: none;
}

#burguerMenu{
    display: none;
}

#header-desktop{
    max-width: 918px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

nav > ul{
    width: 431px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a:hover{
    border: 1px solid var(--border);
}

button.cafe{
    width: 172px;
    height: 37px;
    background-color: transparent;
    border: 1px solid var(--button);
    border-radius: 6px;

    color: white;
    font-weight: bold;
    font-size: 0.6875rem;
    text-transform: uppercase;
}

button.cafe:hover{
    background-color: var(--button);
    cursor: pointer;
}

main{
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-items: center;
}

h1{
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
}

h1#dark{
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button), -1px 1px 0 var(--button), 1px 1px 0 var(--button);
    color: var(--backgrond);
}
